<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.hotel.mapper.FoodMapper">
    <select id="selectFoodALl" resultType="Food">
        select * from food
    </select>

    <select id="selectFoodById" parameterType="int" resultType="Food">
        select * from food where id = #{id}
    </select>

    <select id="selectFoodExperience" parameterType="int" resultType="foodExperience">
        select * from foodExperience where id = #{foodExprienceId}
    </select>

    <select id="selectCommentNum" resultType="int">
        select count(1) from food f,foodComment fc where fc.foodId = f.id
    </select>
</mapper>