<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.hotel.mapper.HomestayMapper">
    <select id="selectHomestayAll" resultType="Homestay">
        select * from homestay
    </select>
    <select id="selectHotelBedId" parameterType="int" resultType="HotelBed">
        select ho.*,h.name,h.img from homestay h, hotel_bed ho where h.id = #{id} and h.hotelBedId = ho.hotelId
    </select>
</mapper>