<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.hotel.mapper.TripHotelMapper">
    <!--查询所有-->
    <select id="selectTripHotelAll" resultType="TripHotel">
        select * from trip_hotel
    </select>
</mapper>